@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Open Sans", "Segoe UI",
        "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    background-color: #f5f4f5;
    color: #050505;
    font-size: 18px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

h1,
h2,
h3 {
    color: #2e3458;
}

.hero {
    width: 100vw;
    height: 100vh;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    text-align: center;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

section {
    font-size: 24px;
}

section h1 {
    font-size: 48px;
    text-align: center;
}

section h2 {
    font-size: 28px;
}

.my-img {
    float: left;
}

/* 
    #000000: text
    #dde7fd: bg
    #6d99f8: primary
    #e2eff3: secondary
    #5588f7: accent
*/
